<h1>Edit Book</h1>
<form ng-submit="save()">
    <div class="form-group">
        <label for="date-input">Release Date:</label>
        <input type="text" class="form-control" id="date-input" ng-model="book.release_date" value="{{book.release_date}}" placeholder="YYYY-MM-DD"/>
    </div>  
    <div class="form-group">
        <label for="name-input">Name:</label>
        <input type="text" class="form-control" id="name-input" ng-model="book.name" value="{{book.name}}"/ placeholder="Enter name of book">
        <span ng-repeat="error in errors.name">{{error}}</span>
    </div>
    <div class="form-group"> 
        <label for="description-input">Description:</label>
        <textarea class="form-control" id="description-input" ng-model="book.description">{{book.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
